/*Grass background*/
body {
    background-image: url(./grass.jpg);
    background-size: auto, cover; 
} 

h1.display-4 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 68px; 
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

h2.display-4 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
   
}

.jumbotron {
    border: 3px dashed black;
    background: grey;
    color: green;
    position: relative; 
    top: 50px; 
    right: -150px;
    width: 1200px;
}

img {
width: 500px;
height: auto;
position: relative;
top: -20px;
right:-15px;
}

p {
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold; 
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.col-md-6 {
    border: 3px dashed black;
    right: -70px;
}

.col-md-4 {
    border-top: 3px dashed black;  
    border-right: 3px dashed black;
    border-bottom: 3px dashed black;
    right: -70px;
}